  <br><br>

  <table class="table table-hover">
      <thead class="thead-light">
          <tr>
            <th style="width: 40%">Name</th>
            <th style="width: 25%">Published</th>
            <th style="width: 25%">Salary</th>
            <th style="width: 10%">Link</th>
          </tr>
      </thead>
      <tbody>
      <% @jobs['items'].each do |i| %>
          <tr>
            <td style="width: 40%"><%= i["name"] %></td>
            <td style="width: 25%"><%= Time.parse(i["published_at"]).to_date %></td>
            <td style="width: 25%">
              <% if i["salary"] %>
                <%= i["salary"]["from"] %> - <%= i["salary"]["to"] %>
                <%= 'руб' if i["salary"]["currency"] == 'RUR' %>
                <%= '$' if i["salary"]["currency"] == 'USD' %>
              <% end %>
            </td>
            <td style="width: 10%"><%= link_to 'Link', i["alternate_url"], class: "btn btn-link"%></td>
          </tr>
      <% end %>
      </tbody>
  </table>

